<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="css/error.css">
<%- include('includes/header.ejs') %>
    <main>
        <h1>Page <br> Not <br> Found!</h1>
    </main>
<%- include('includes/footer.ejs') %>